---
import css from '../images/css.png';
import html from '../images/html.png';
import javscript from '../images/javascript.png';
import react from '../images/react.png';
import redux from '../images/redux.png';
import sass from '../images/sass.png';
import typescript from '../images/typescript.png';
import python from '../images/python.png';
import git from '../images/git.png';
import graphql from '../images/graphql.png';
---

<section class="flex flex-wrap justify-center bg-[#0f172a]">
  <div
    class="my-24 h-auto flex flex-wrap justify-center gap-4 lg:mx-[8rem] xl:w-2/3 md:gap-20"
  >
    <a
      href="/css"
      class="relative flex items-center w-32 h-32 lg:w-40 lg:h-40 p-8 rounded-full shadow-md hover:shadow-lg hover:shadow-cyan-200 shadow-[#f1f1f1cc] bg-cyan-50"
      ><img
        src={html}
        class="rounded-full"
        alt=""
        width="100%"
        height="100%"
      /></a
    >
    <a
      href="/css"
      class="relative flex items-center w-32 h-32 lg:w-40 lg:h-40 p-8 rounded-full shadow-md hover:shadow-lg hover:shadow-cyan-200 shadow-[#f1f1f1cc] bg-cyan-50"
      ><img
        src={css}
        class="rounded-full"
        alt=""
        width="100%"
        height="100%"
      /></a
    >
    <a
      href="/css"
      class="relative flex items-center w-32 h-32 lg:w-40 lg:h-40 p-8 rounded-full shadow-md hover:shadow-lg hover:shadow-cyan-200 shadow-[#f1f1f1cc] bg-cyan-50"
      ><img
        src={javscript}
        class="rounded-full"
        alt=""
        width="100%"
        height="100%"
      /></a
    >
    <a
      href="/css"
      class="relative flex items-center w-32 h-32 lg:w-40 lg:h-40 p-8 rounded-full shadow-md hover:shadow-lg hover:shadow-cyan-200 shadow-[#f1f1f1cc] bg-cyan-50"
      ><img
        src={react}
        class="rounded-full"
        alt=""
        width="100%"
        height="100%"
      /></a
    >

    <a
      href="/css"
      class="relative flex items-center w-32 h-32 lg:w-40 lg:h-40 p-8 rounded-full shadow-md hover:shadow-lg hover:shadow-cyan-200 shadow-[#f1f1f1cc] bg-cyan-50"
      ><img
        src={redux}
        class="rounded-full"
        alt=""
        width="100%"
        height="100%"
      /></a
    >
    <a
      href="/css"
      class="relative flex items-center w-32 h-32 lg:w-40 lg:h-40 p-8 rounded-full shadow-md hover:shadow-lg hover:shadow-cyan-200 shadow-[#f1f1f1cc] bg-cyan-50"
      ><img
        src={sass}
        class="rounded-full"
        alt=""
        width="100%"
        height="100%"
      /></a
    >
    <a
      href="/css"
      class="relative flex items-center w-32 h-32 lg:w-40 lg:h-40 p-8 rounded-full shadow-md hover:shadow-lg hover:shadow-cyan-200 shadow-[#f1f1f1cc] bg-cyan-50"
      ><img
        src={typescript}
        class="rounded-full"
        alt=""
        width="100%"
        height="100%"
      /></a
    >
    <a
      href="/css"
      class="relative flex items-center w-32 h-32 lg:w-40 lg:h-40 p-8 rounded-full shadow-md hover:shadow-lg hover:shadow-cyan-200 shadow-[#f1f1f1cc] bg-cyan-50"
      ><img
        src={git}
        class="rounded-full"
        alt=""
        width="100%"
        height="100%"
      /></a
    >
    <a
      href="/css"
      class="relative flex items-center w-32 h-32 lg:w-40 lg:h-40 p-8 rounded-full shadow-md hover:shadow-lg hover:shadow-cyan-200 shadow-[#f1f1f1cc] bg-cyan-50"
      ><img
        src={graphql}
        class="rounded-full"
        alt=""
        width="100%"
        height="100%"
      /></a
    >
    <a
      href="/css"
      class="relative flex items-center w-32 h-32 lg:w-40 lg:h-40 p-8 rounded-full shadow-md hover:shadow-lg hover:shadow-cyan-200 shadow-[#f1f1f1cc] bg-cyan-50"
      ><img
        src={python}
        class="rounded-full"
        alt=""
        width="100%"
        height="100%"
      /></a
    >
  </div>
</section>
