---
import css from '../images/css.png';
import html from '../images/html.png';
import javscript from '../images/javascript.png';
import react from '../images/react.png';
import redux from '../images/redux.png';
import sass from '../images/sass.png';
import typescript from '../images/typescript.png';
import python from '../images/python.png';
import git from '../images/git.png';
import graphql from '../images/graphql.png';
import styled from '../images/styled.png';
---

<section id="skills" class="flex flex-col items-center space-evenly">
  <h1
    class="text-center showcase-text font-extrabold sm:max-w-[400px] md:max-w-[600px] md:text-[50px] text-[30px] mt-48 mb-24 flex-wrap mx-2"
  >
    Professional
    <span
      class="bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent"
      >Skills</span
    >
  </h1>
  <div
    class="flex flex-wrap pb-32 place-content-evenly md:mx-4 gap-4 max-w-2xl lg:grid lg:grid-cols-5"
  >
    <div class="h-20 w-20 p-4 rounded-full bg-white shadow-md">
      <img src={html} alt="" height="100%" width="100%" />
    </div>
    <div class="h-20 w-20 p-4 rounded-full bg-white shadow-md">
      <img src={css} alt="" height="100%" width="100%" />
    </div>
    <div class="h-20 w-20 p-4 rounded-full bg-white shadow-md">
      <img src={javscript} alt="" height="100%" width="100%" />
    </div>
    <div class="h-20 w-20 p-4 rounded-full bg-white shadow-md">
      <img src={react} alt="" height="100%" width="100%" />
    </div>
    <div class="h-20 w-20 p-4 rounded-full bg-white shadow-md">
      <img src={redux} alt="" height="100%" width="100%" />
    </div>
    <div class="h-20 w-20 p-4 rounded-full bg-white shadow-md">
      <img src={typescript} alt="" height="100%" width="100%" />
    </div>
    <div class="h-20 w-20 p-4 rounded-full bg-white shadow-md">
      <img src={graphql} alt="" height="100%" width="100%" />
    </div>
    <div class="h-20 w-20 p-4 rounded-full bg-white shadow-md">
      <img src={git} alt="" height="100%" width="100%" />
    </div>
    <div class="h-20 w-20 p-4 rounded-full bg-white shadow-md">
      <img src={sass} alt="" height="100%" width="100%" />
    </div>
    <div class="h-20 w-20 p-4 rounded-full bg-white shadow-md">
      <img src={styled} alt="" height="100%" width="100%" />
    </div>
  </div>
</section>
